.l3c-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 23px;
}

.l3c-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.l3c-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.l3c-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .l3c-slider {
  background-color: #397090;
}

input:focus + .l3c-slider {
  box-shadow: 0 0 1px #63BDC1;
}

input:checked + .l3c-slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */

.l3c-slider.round {
  border-radius: 23px;
}

.l3c-slider.round:before {
  border-radius: 50%;
}

